streamlit==1.35.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
matplotlib==3.8.4
xgboost==2.0.3
lightgbm==4.3.0
catboost==1.2.5
prophet==1.1.5
tensorflow==2.16.1
openpyxl==3.1.2
plotly==5.22.0
sqlalchemy==2.0.30
pymysql==1.1.0
